<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		{{ with .OutputFormats.Get "RSS" }}
			<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
			<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
		{{ end }}

		<title>{{ .Title }}</title>

		{{ $style := resources.Get (printf "css/colors-%s.scss" (.Site.Params.scheme | default "dark")) | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">
		{{ $style := resources.Get (printf "css/custom.scss") | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">

		{{ partial "head.html" . }}
	</head>
	<body>
		<header id="header">
			<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			<p>{{ .Site.Params.Description }}</p>
		</header>

		<div id="page">
			<div id="sidebar">
				{{ partial "navigation.html" . }}
			</div>

			<div id="content">
				{{ block "main" . }}{{ end }}
			</div>

			<footer id="footer">
				<p class="copyright">
					{{ if .Site.Copyright }}
						{{ .Site.Copyright }}
					{{ else }}
						Powered by <a href="https://gohugo.io/">Hugo</a> and the
						<a href="https://github.com/bake/solar-theme-hugo">Solar</a>-theme.
					{{ end }}
				</p>
			</footer>
		</div>

		{{ partial "foot.html" . }}
	</body>
</html>
