{{ define "main" }}
	<article>
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a> {{ if .Draft }}(Draft){{ end }}</h1>

		<div class="post-content">{{ .Content | safeHTML }}</div>

		<p class="meta">
                    {{ $postdate := .Date.Format "2006-01-02"}}
                    {{ $moddate := .Lastmod.Format "2006-01-02"}}
                    {{ $tpost := (time $postdate)}}
                    {{ $tmod := (time $moddate)}}
                    {{ i18n "posted_on" }} {{ $postdate }}
                    {{ if $tmod.After $tpost }}
                        -- {{ i18n "last_modified" }} {{ $moddate }}
                    {{ end }}
                </p>

                {{ if .IsTranslated }}
                    {{ range .AllTranslations }}
                        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
                    {{ end }}
                    <p class="meta"> {{ i18n "translation_exists" }} </p>
                    <nav>
                    {{ range .Translations }}
                            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                    </nav>
                {{ end }}

	</article>
{{ end }}
