@import "variables.scss";

body {
    font-family: sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: $font-size-unit * 4;

  &__cell {
    margin-left: 10px;
  }
}

.footer {
  text-align: center
}

.nav {
  font-size: $font-size-unit * 4.2;
}

#header {
  h1 a {
    font-size: $font-size-unit * 10;
  }

  p {
    font-size: $font-size-unit * 4;
  }
}

article {
  h1 {
    font-size: $font-size-unit * 8;
  }

  h2 {
    font-size: $font-size-unit * 7;
  }

  h3 {
    font-size: $font-size-unit * 6;
  }

  h3 {
    font-size: $font-size-unit * 5;
  }

  h4 {
    font-size: $font-size-unit * 4.5;
    font-weight: bold;
  }

  p, ol li, ul li {
    font-size: $font-size-unit * 4;
    font-family: serif;
  }
}

code[class*="language-"] {
  white-space: unset;
  font-family: monospace;
}

#page-list-entry a {
  font-size: $font-size-unit * 5;
}
