<div class="header">
    <div class="header__cell">
        {{ range .Site.Params.Lang }}
            <a rel="alternate" hreflang="{{ .Hreflang }}" href="{{ .Href }}">{{ .Flag }}</a>
        {{ end }}
    </div>
    <div>
        <p>♾</p>
    </div>
</div>
